.HomeSelectType{
    /* border: 1px solid #ff0000; */
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.HomeSelectTypeButtonDiv{
    border-radius: 8px;
    width: 500px;
    height: 300px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px ;
    transition: 0.2s;
    cursor: pointer;
}
.HomeSelectTypeButtonDiv{
    border: 5px solid #459D9C;
    background-color: #C4EBE4;
    color: Black;
}
.HomeSelectTypeButtonDiv:hover{
    background-color: #9eb3af;
}
.HomeSelectTypeButton2Div{
    border: 5px solid #500a0a;
    background-color: #4e2929;
    color: White;
}
.HomeSelectTypeButton2Div:hover{
    background-color: #663f3f;
}
