#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  text-align: left;
  line-height: 1.25;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.reporttable {
  border-collapse: collapse;
  /* background-color: rgb(247, 247, 247); */
  color: black;
}
.reporttable th{
  background-color: #52BDAA;
  /* border: 1px solid #3f3f3f; */
  padding: 10px;
  text-align: left;
}
.reporttable td {
  border: 1px solid #3f3f3f;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.reporttable .first-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  text-align: left;
  border: 0.5px solid #ccc;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
}

.reporttable th.vertical {
  writing-mode: vertical-rl; /* vertical right-to-left */
  transform: rotate(180deg); /* optional: make it bottom-to-top */
  white-space: nowrap;
  height: 150px;
  vertical-align: middle;
}

.field-set input{
  background-color: rgb(247, 247, 247);
  border-radius: 10px 10px 10px 10px !important;
}
